html {
    font-size: small;
    height: 100%;
    Margin: 0;
}

body {
    background: #fff;
    color: #222;
    font-family: arial, sans-serif;
    margin-top: 0 !important;
    padding-top: !important;
}

.blank {
    padding-top: 15px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

.navbarright {
    float: right;
}

a {
    display: block;
    padding: 10px 10px 10px 10px;
    color: #000000;
    opacity: .75;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.signin {
    background-color: #4285f4;
    color: #fff;
    font-weight: bold;
    border-radius: 1px;
    opacity: 1.0;
}

.main {
    padding-top: 130px;
    text-align: center;
} 

.search {
    margin: 25px 0 25px 0;
    background-color: #fff;
    border: solid;
    border-color: #f1f1f1;
    border-width: 1px;
    border-radius: 50px;
    width: 40%;
    height: 40px;
}

.button {
    height: 35px;
    min-width: 54px;
    padding: 0 16px 0 16px;
    margin: 0 4px 0 4px;
    background-color: #f1f1f1;
    border: solid;
    border-color: #f1f1f1;
    border-radius: 4px;
    color: #5f6368;
    font-size: 14px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    font-size: 14px;
    color: #5f6368;
}

.footnav {
    color: #5f6368;
    opacity: 1.0;
}

#bottomnav {
    margin-right: 30px;
}